# node_modules
node_modules/

# Archivos temporales
*.log
*.pid
*.seed
*.pid.lock

# Carpeta generada por create-react-app
/build/

# Carpeta generada por TypeScript
/tsconfig.tsbuildinfo

# Archivo generado por Visual Studio Code
.vscode/
